
.treatment {
    fill: lightgray;
    fill-opacity: 50%;
}

.treatment-name {
    font: 20px sans-serif;
    fill: black;
}

.treatment-type {
    font: italic 12px sans-serif;
    fill: black;
}

.io {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.io-name {
    font: 10px sans-serif;
}

.param {
    font: 10px sans-serif;
}

.param-name {
    font-style: italic;
}

.param-value {
    font-family: monospace;
}
