
.treatment-bg {
    fill: lightgray;
    fill-opacity: 50%;
    transition: all .1s;
}

.treatment:hover .treatment-bg {
    fill-opacity: 100%;
    filter: drop-shadow(0 0 5px lightgray);
}

.treatment-name {
    font: 20px sans-serif;
    fill: black;
}

.treatment-type {
    font: italic 12px sans-serif;
    fill: black;
}

.io {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.io-name {
    font: 10px sans-serif;
}

.input {
    font: 10px sans-serif;
}

.input:hover {
    z-index: 1000;
}

.input-bg {
    fill: lightgray;
    transition: all .1s;
}

.input:not(:hover) .input-bg, .input:not(:hover) .input-type {
    visibility: hidden;
}

.input:hover .input-type {
    visibility: visible;
}

.input:hover .input-bg {
    visibility: visible;
    filter: drop-shadow(0 0 5px lightgray);
}

.input-sym {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.param {
    font: 10px sans-serif;
}

.param-name {
    font-style: italic;
}

.param-value {
    font-family: monospace;
}
