
.treatment {
    fill: lightgray;
    fill-opacity: 50%;
}

.treatment-name {
    font: 20px sans-serif;
    fill: black;
}

.treatment-type {
    font: italic 12px sans-serif;
    fill: black;
}

.input {
    fill: white;
    stroke: black;
}
.input-name {
    font: 10px sans-serif;
}
